.block.quote {
  background-color: #ccc;
  padding: 0 0 24px;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.block.quote blockquote {
  margin: 16px;
  text-indent: 0;
}

.block.quote>div:last-child>div {
  margin: 0 16px;
  font-size: small;
  font-style: italic;
  position: relative;
}

.block.quote>div:last-child>div::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 5px;
  width: 30px;
  background-color: darkgray;
}

.quote-tag {
  display: inline-block;
  background-color: #2680eb;
  color: white;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 600;
  margin: 8px 16px;
  text-transform: uppercase;
}

.quote-author {
  margin: 0 16px;
  font-size: small;
  font-style: italic;
}

.quote-suffix {
  margin: 8px 16px 0;
  font-size: small;
  color: #666;
}
